/node_modules
/vendor/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/
/public/assets/nft/images/nftigo
npm-debug.log
yarn-error.log
composer.lock
package-lock.json